*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1280px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

section {
  padding: 88px 168px;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
