.header {
  padding: 40px 168px 0;
  background-color: #1b2944;
  display: flex;
  justify-content: space-between;
}

.link {
  display: block;
}

.header__link-discord {
  width: 100px;
  height: 28px;
  background-image: url("../images/logo.svg");
}

.header__link-social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link-git {
  background-image: url("../images/github.svg");
  width: 20px;
  height: 20px;
}

.header__link-twiter {
  background-image: url("../images/twitter.svg");
  width: 20px;
  height: 16px;
}
.header__link-instagram {
  background-image: url("../images/instagram.svg");
  width: 20px;
  height: 20px;
}
.header__link-facebook {
  background-image: url("../images/facebook.svg");
  width: 20px;
  height: 20px;
}

.visit-card {
  background-color: #1b2944;
  padding: 88px 168px;
  display: flex;
}

.visit-card-column {
  padding: 36.5px 96px 36.5px 0;
}

.visit-card-job-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
  color: #ffbb01;
}

.visit-card__header-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
  margin-bottom: 24px;
}

.visit-card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
  margin-bottom: 38px;
}

.button {
  padding: 0;
  background: #ffbb01;
  box-shadow: 0px 4px 0px #b68500;
  border-radius: 6px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;

  color: #1b2944;

  border-style: none;
}

.visit-card__button {
  min-width: 300px;
  min-height: 66px;
}

.visit-card__image-avatar {
  display: block;
  width: 384px;
  height: 384px;
}

.advantages {
  background-color: #141f35;
}

.advantages__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;

  margin-bottom: 48px;
}

.advantages_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 48px 16px;
}

.advantages_grid__block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.advantages_grid__image {
  width: 52px;
  height: 52px;
}

.advantages_grid__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.advantages_grid__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.agreement-img {
  margin-left: 5px;
}

.conversation-img {
  margin-left: 6px;
}

.projects {
  background-color: #1b2944;
  padding-top: 93px;
}

.projects__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
  margin-bottom: 49px;
}

.project__cards {
  display: flex;
  gap: 16px;
}

.card {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 32px;
  min-width: 304px;
  min-height: 304px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.card_chamarel {
  background-image: url("../images/human.svg");
}

.card_golf {
  background-image: url("../images/golf.svg");
}

.card_waterfall {
  background-image: url("../images/waterfall.svg");
}

.card__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  max-width: 170px;
}

.card_button {
  background: #ec1f46;
  box-shadow: 0px 2px 0px #ce1c3e;
  border-radius: 6px;
  border-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  width: 120px;
  height: 36px;
  color: #ffffff;
}

.gallary {
  background-color: #141f35;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.contact {
  background-color: #1b2944;
}
