.header {
  padding: 40px 168px 0;
  background-color: #1b2944;
  display: flex;
  justify-content: space-between;
}

.link {
  display: block;
}

.header__link-discord {
  width: 100px;
  height: 28px;
  background-image: url("../images/logo.svg");
}

.header__link-social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link-git {
  background-image: url("../images/github.svg");
  width: 20px;
  height: 20px;
}

.header__link-twiter {
  background-image: url("../images/twitter.svg");
  width: 20px;
  height: 16px;
}
.header__link-instagram {
  background-image: url("../images/instagram.svg");
  width: 20px;
  height: 20px;
}
.header__link-facebook {
  background-image: url("../images/facebook.svg");
  width: 20px;
  height: 20px;
}

.visit-card {
  background-color: #1b2944;
  padding: 88px 168px;
  display: flex;
}

.visit-card-column {
  padding: 36.5px 96px 36.5px 0;
}

.visit-card-job-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
  color: #ffbb01;
}

.visit-card__header-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
  margin-bottom: 24px;
}

.visit-card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
  margin-bottom: 38px;
}

.visit-card__button {
  padding: 0;
  background: #ffbb01;
  box-shadow: 0px 4px 0px #b68500;
  border-radius: 6px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;

  color: #1b2944;

  min-width: 300px;
  min-height: 66px;

  border-style: none;
}

.visit-card__image-avatar {
  display: block;
  width: 384px;
  height: 384px;
}

.advantages {
  background-color: #141f35;
}

.projects {
  background-color: #1b2944;
}

.gallary {
  background-color: #141f35;
}

.contact {
  background-color: #1b2944;
}
