.header {
  padding: 40px 168px 0;
  background-color: #1b2944;
  display: flex;
  justify-content: space-between;
}

.link {
  display: block;
}

.header__link-discord {
  width: 100px;
  height: 28px;
  background-image: url("../images/logo.svg");
}

.header__link-social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link-git {
  background-image: url("../images/github.svg");
  width: 20px;
  height: 20px;
}

.link-twiter {
  background-image: url("../images/twitter.svg");
  width: 20px;
  height: 16px;
}
.link-instagram {
  background-image: url("../images/instagram.svg");
  width: 20px;
  height: 20px;
}
.link-facebook {
  background-image: url("../images/facebook.svg");
  width: 20px;
  height: 20px;
}

.visit-card {
  padding: 88px 168px;
  display: flex;
}

.visit-card-column {
  padding: 36.5px 96px 36.5px 0;
}

.visit-card-job-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
  color: #ffbb01;
}

.visit-card__header-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
  margin-bottom: 24px;
}

.visit-card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
  margin-bottom: 38px;
}

.button {
  padding: 0;
  background: #ffbb01;
  box-shadow: 0px 4px 0px #b68500;
  border-radius: 6px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;

  color: #1b2944;

  border-style: none;
  min-height: 66px;
}

.visit-card__button {
  min-width: 300px;
}

.visit-card__image-avatar {
  display: block;
  width: 384px;
  height: 384px;
}

.advantages {
  background-color: #141f35;
}

.advantages__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;

  margin-bottom: 48px;
}

.advantages_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 48px 16px;
}

.advantages_grid__block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.advantages_grid__image {
  width: 52px;
  height: 52px;
}

.advantages_grid__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.advantages_grid__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.agreement-img {
  margin-left: 5px;
}

.conversation-img {
  margin-left: 6px;
}

.projects {
  padding-top: 93px;
}

.projects__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
  margin-bottom: 49px;
}

.project__cards {
  display: flex;
  gap: 16px;
}

.card {
  padding: 32px;
  min-width: 304px;
  min-height: 304px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;

  background-color: #cecece;
  border-radius: 6px;
}

.overlay {
  position: absolute;
  width: 304px;
  height: 304px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 34%,
    rgba(196, 196, 196, 0.5) 66%,
    #213e60 100%
  );
  border-radius: 6px;
  z-index: 1;
}

.card_chamarel {
  background-image: url("../images/human.svg");
}

.card_golf {
  background-image: url("../images/golf.svg");
}

.card_waterfall {
  background-image: url("../images/waterfall.svg");
}

.card__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  max-width: 170px;
  z-index: 2;
}

.card_button {
  background: #ec1f46;
  box-shadow: 0px 2px 0px #ce1c3e;
  border-radius: 6px;
  border-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  width: 120px;
  height: 36px;
  color: #ffffff;
  z-index: 2;
}

.gallary {
  background-color: #141f35;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.footer {
  padding: 86px 168px;
  display: grid;
  grid-template-columns: 1fr 96px 1fr;
  grid-template-rows: 42px 47px 1fr;
}

.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
  margin-bottom: 47px;
  grid-row: 1;
  grid-column: 1/2;
}

.contact__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 38px 32px;
  gap: 32px;

  width: 464px;
  height: 422px;

  background: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;

  grid-row: 3/4;
  grid-column: 1;
}

.contact__card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

.input__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 20px 32px;

  width: 400px;
  height: 70px;

  background: #f8f8f8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  border-style: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;

  color: #949494;

  padding-left: 62px;
}

.input_name {
  background: url("../images/user-icon.svg") no-repeat scroll 16px 18px;
  background-position-x: 32px;
  background-position-y: center;
}

.input_phone {
  background: url("../images/phone-icon.svg") no-repeat scroll 16px 18px;
  background-position-x: 32px;
  background-position-y: center;
}

.contact__card__button {
  min-width: 400px;
}

.contacts {
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: max-content 112px 1fr;
  grid-template-rows: max-content 32px 1fr 1fr;
}

.contacts_item-phone {
  height: 72px;
  grid-column: 1/2;
  grid-row: 1;
}

.contacts_item-mail {
  height: 72px;
  grid-column: 3/4;
  grid-row: 1;
}

.contacts_item-social {
  height: 72px;
  grid-column: 1/2;
  grid-row: 3;
}

.footer__link-privacy-policy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  justify-self: flex-end;
  color: #949494;

  grid-row: 5;
  grid-column: 1/3;

  justify-self: flex-start;
}

.contacts__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
  margin-bottom: 16px;
}

.contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.contacts__social-links {
  display: flex;
  gap: 16px;
}
